* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
   --font-size: 1.2rem;
}

div#layout {
   height: 100vh;
   width: 100vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

div#back-clr {
   font-size: 2rem;
   color: #fff;
   background-color: rgb(44, 44, 44);
   border-radius: 5px;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50%;
}

div#clr-square {
   width: 30px;
   height: 30px;
   border: 1px solid #fff;
   margin: 10px;
   background-color: white;
}

button {
   font-size: 1.2em;
   padding: 0.4em;
   border-radius: 5px;
}

#layout, #clr-square, #clr-btn {
  transition: background-color 0.3s ease;
}
