* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
}

body {
   background-color: rgb(231, 242, 252);
}

div#layout {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   gap: 20px;
}

div#buttons {
   display: flex;
   gap: 20px;
}

h1 {
   font-size: clamp(2rem, 3.3vw, 3.5rem);
}

div#count {
   font-size: clamp(2.5rem, 3.8vw, 3.5rem);
}

button {
   font-size: clamp(0.8rem, 1.3vw, 2rem);
   background-color: inherit;
   padding: 0.3em 0.5em;
   letter-spacing: 1px;
   border-radius: 10px;
}
